#output-string {
    padding: 50px;
    border: 1px solid #d7d7d7;
    text-align: center;
}

input[type=text] {
    border: 1px solid #d7d7d7;
    padding: 10px 20px;
    background-color: black;
    color: #d7d7d7;
    font-family: monospace;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

input[type=text]:focus {
    border: 1px solid #d7d7d7;
    border-radius: 0;
    padding: 10px 20px;
    background-color: black;
    color: #d7d7d7;
    font-family: monospace;
    outline: none;
}

table {
    color: #d7d7d7;
    font-size: large;
}