body, button {
    background-color: #111;
    color: #a1a1a1;
    font-family: 'consolas';
    text-align: center;
}

body {
    padding: 6px 8px 6px 16px;
    margin: 0 20%;
}

#password {
    padding: 50px;
    border: 1px solid #a1a1a1;
}

button {
    border: 1px solid #a1a1a1;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
}

button:hover {
    text-decoration: underline;
}

button:active {
    background-color: #a1a1a1;
    color: #111;
}