body {
    background-image: url(jungle.jpg);
    background-repeat: fill;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: monospace;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#main-container {
    height: 85%;
    width: 90%;
    background-color: black;
    color: #a1a1a1;
    margin: auto;
    border: 1px solid #a1a1a1;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1200px;
    line-height: 2em;
}

#topbar {
    border-bottom: 3px double #a1a1a1;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

.topbar-container {
    display: inline-block;
    border-left: 1px solid #a1a1a1;
    border-right: 1px solid #a1a1a1;
    padding-left: 10px;
    padding-right: 10px;
}

.xxiivv {
    float: right;
}

#content-container {
    padding: 10px;
    overflow-y: scroll;
    height: 100%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 16px;
}

#content {
    padding-bottom: 50%;
}

p {
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

h1 {
    font-size: 24px;
    font-weight: 100;
    padding-bottom: 10px;
}

h1::before {
    content: "{ ";
}

h1::after {
    content: " }";
}

h2 {
    font-size: 20px;
    border-bottom: 1px solid #a1a1a1;
    font-weight: 100;
}

h2::before {
    content: "#";
    padding-right: 15px;
}

h3 {
    font-size: 16px;
    font-weight: 100;
    text-decoration: underline;
}

a.navlink {
    text-decoration: none;
    color: #a1a1a1;
}

a.navlink:hover {
    color: black;
    background-color: #a1a1a1;
}

a.webring:hover {
    text-decoration: none;
    color: #a1a1a1;
    background-color: black;
}

a {
    color: lightgreen;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: lightgreen;
}

blockquote {
    padding: 10px;
    border: 1px solid #a1a1a1;
}