body {
    background-image: url(jungle-tiny.webp);
    background-repeat: fill;
    background-size: cover;
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: monospace;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#main-container {
    height: 90%;
    width: 90%;
    background-color: black;
    color: #d7d7d7;
    margin: auto;
    border: 1px solid #d7d7d7;
    overflow: hidden;
    max-width: 1200px;
    min-width: 550px;
    line-height: 2em;
    box-shadow: 30px 20px 20px 10px rgba(0, 0, 0, 0.5);
}

#topbar {
    border-bottom: 3px double #d7d7d7;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

.topbar-container {
    display: inline-block;
    border-left: 1px solid #d7d7d7;
    padding-left: 10px;
    padding-right: 10px;
}

.topbar-rightmost {
    border-right: 1px solid #d7d7d7;
}

.webring {
    float: right;
}

.webring:hover {
    background-color: #d7d7d7 !important;
}

.webring:hover img {
    filter: invert(100%) brightness(0%);
}

#content-container {
    padding: 10px;
    overflow-y: scroll;
    height: 100%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: large;
    scrollbar-width: thin;
    scrollbar-color: #d7d7d7 transparent;
}

#content {
    padding-bottom: 10%;
    background-image: url(dither-bg.png);
    background-repeat: repeat-x;
}

h1 {
    background-color: #d7d7d7;
    color: black;
    font-size: xx-large;
    font-weight: bold;
    padding-left: 10px;
    border-bottom: 8px double black;
    text-transform: uppercase;
    line-height: 2;
}

h1::before {
    content: ">>";
    padding-right: 15px;
}

h2 {
    background-color: #d7d7d7;
    color: black;
    font-size: x-large;
    font-weight: bold;
    padding-left: 10px;
}

h2::before {
    content: "#";
    padding-right: 15px;
}

h3 {
    font-weight: bold;
    border-bottom: 1px solid #d7d7d7;
    display: inline;
}

a.navlink {
    text-decoration: none;
    color: #d7d7d7;
    display: inline-block;
}

a.navlink:hover {
    color: black;
    background-color: #d7d7d7;
}

a.webring:hover {
    text-decoration: none;
    color: #d7d7d7;
    background-color: black;
}

a {
    color: lightgreen;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: lightgreen;
}

blockquote {
    padding: 10px;
    border: 1px solid #d7d7d7;
    background-color: black;
}

img {
    image-rendering: pixelated;
}

.img-wide, figure img {
    width: 100%;
    height: auto;
}

ul {
    list-style-type: square;
}

figure {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}

#main-container::selection {
    background-color: lightgreen !important;
    color: black !important;
}

@media screen and (max-device-width: 480px) {
    #main-container {
        width: 100vw;
        height: 100vh;
        max-width: auto;
        min-width: auto;
        border: none;
        box-shadow: none;
    }

    body {
        height: auto;
        width: auto;
    }

    #content-container, #topbar {
        padding-left: 10%;
        padding-right: 10%;
        font-size: x-large;
        line-height: 1.75;
    }
}